[submodule "third_party/stm32-cmake"]
	path = third_party/stm32-cmake
	url = git@github.com:ObKo/stm32-cmake.git
[submodule "third_party/STM32CubeF4"]
	path = third_party/STM32CubeF4
	url = git@github.com:STMicroelectronics/STM32CubeF4.git
[submodule "third_party/FreeRTOS"]
	path = third_party/FreeRTOS
	url = git@github.com:FreeRTOS/FreeRTOS.git
